/* Add your existing styles here */

body, textarea {
    font-family: 'Jost', sans-serif;
}
/*
p, h1, h2, h3, div, span, a, li, td, th, strong, em, small, big, i, b, u, s, sub, sup {
    transition: color 0.5s ease;
}
*/

#logo{
    position: relative;
    top:5px;
}
@media (width >= 576px) {
    #logo {
        position: absolute;
        left: 0;
        height: 80px;
        top: initial;
    }
}

h1{

    font-family: 'Darker Grotesque', sans-serif;
    font-size: 4em;
}
h2{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}
.bi-star-fill, bi-star-half{
    font-size: 2em;
}
.price{
    color: black !important;
    text-shadow: 0.000em 0.3em #fff, 0.116em 0.276em #fff, 0.212em 0.212em #fff, 0.276em 0.116em #fff, 0.3em 0.000em #fff, 0.276em -0.116em #fff, 0.212em -0.212em #fff, 0.116em -0.276em #fff, 0.000em -0.3em #fff, -0.116em -0.276em #fff, -0.212em -0.212em #fff, -0.276em -0.116em #fff, -0.3em -0.000em #fff, -0.276em 0.116em #fff, -0.212em 0.212em #fff, -0.116em 0.276em #fff;    font-weight: 600;
    font-family: 'Jost', sans-serif;
    top: 160px !important;
}
.fraction {
	top: -0.9em;
	position: relative;
}
.price > span:nth-child(1){
    font-size: 3.5em;
}
.stars.animate > i:hover {
    font-size: 2.25em; /* Adjust the font size as needed */
}
.stars > i {
    transition: font-size 0.25s ease-in-out; /* Added 's' after 0.5 for seconds */
}
.fw-900{
    font-weight: 900;
}
.fw-700{
    font-weight: 700;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}
.fw-300{
    font-weight: 300;
}
.fw-200{
    font-weight: 200;
}

.shoe-title{
    font-size: 3.5em;
    font-weight: 600;
}


/*
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Jost', sans-serif; 3 4 5 6 7 9

    https://fonts.google.com/specimen/Jost?preview.text=Bahnschrift&preview.size=89&stroke=Sans+Serif
*/

#paypal-button-container{
    max-width:750px; 
    margin: auto;
}

input[type="radio"] {
    display: none;
}

/* Style for the custom radio buttons */
div.radios {
    display: flex;
    width: 100%;
}

.radios>label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 1.5em;
    color: white;
    margin-right: 5px;
    cursor: pointer;
    border: 3px solid transparent;
    flex-grow: 1;
    user-select: none;
}

/* Style for the selected radio button */
input[type="radio"]:checked+label {
    outline: 6px solid #ffc439;
    /* Change border color when selected */
    z-index: 2;
}